.agent-card {
  cursor: pointer;
  transition: transform 0.2s;
  height: 25vh;
}

.agent-card:hover {
  transform: scale(1.05);
}

.agent-img {
  object-fit: scale-down;
}

.contact-btn {
  background: var(--clr-forestgreen);
  filter: brightness(1.4);
  border: none !important;
}

.agent-card:hover .contact-btn {
  filter: brightness(1);
}