.modalContainer {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  background-color: white;
  z-index: 2;
  padding: 5%;
  min-width: 35vw;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.btn-close {
  background-color: #ccc;
  border-radius: 0 10px 0 10px;
  box-shadow: none !important;
}

.modalContainer .form-control{
  box-shadow: none !important;
}

.modalContainer .form-control:focus {
  border: 1px solid black;
}