@import url(./Root.css);

 /* Hero Section */
.navbar-brand {
  font-size: 2rem;
  font-weight: 500;
}

.nav-link {
  margin-right: 3rem;
}

.nav-link:hover {
  border-bottom: .1rem solid white;
}

.bg-img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: brightness(0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-txt {
  position: relative;
  top: 70vh;
  color: white;
}

.hero-txt button {
  border: .1rem solid white;
  background-color: transparent;
  font-weight:500;
  font-size: 1.25rem;
  color: white;
  border-radius: 20px;
  width: 15rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  transition: ease-in-out 0.3s;
}

.hero-txt button:hover {
  font-weight: 600;
  width: 16rem;
}
/* End of Hero Section */
/* Swiper Section */
.swiper {
  width: 90vw;
  height: 40vh;
}
/* End of Swiper Section */
/* Card Slider */
.card-sld{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 15px;
}

.card-sld img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15px;
  object-fit: cover;
  z-index: -1;
}

.card-sld .txt-sld {
  height: 15%;
  width: 80%;
  background-color: white;
  position: relative;
  top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 20px;
}
/* End of Card Slider */
/* Card Specs */
.price {
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-align: center;
  position: absolute;
  color: white;
}

/* End of Card Specs */