.images-container {
  width: 100vw;
  height: 70vh;
  background-color: black;
}

.image-projector {
  background-color: red;
}

.image-index{
  background: blue;
  overflow: auto;
}

.images {
  background-color: yellow;
}

.house-image {
  cursor: pointer;
}