.add-img-container {
  padding: 10px;
  box-shadow: 0 0 5px #ffdfdf;
  border-radius: 5px;
  overflow: hidden;
  width: 75%;
  background: white;
}

.add-img-container .top {
  text-align: center;
}

.add-img-container p{
  font-weight: bold;
  color: var(--clr-forestgreen);
}


.add-img-container .drag-area {
  height: 150px;
  border-radius: 5px;
  border: 2px dashed var(--clr-forestgreen);
  background: #f4f3f9;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  margin-top: 10px;
}

.add-img-container .drag-area .visible {
  font-size: 18px;
}

.add-img-container .select {
  color: var(--clr-forestgreen);
  margin-left: 5px;
  cursor: pointer;
  transition: 0.4s;
}

.add-img-container  .select:hover {
  opacity: 0.6;
}

.add-img-container .container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-height: 200px;
  overflow-y:  auto;
}

.add-img-container .container .image {
  width: 75px;
  margin-right: 5px;
  height: 75px;
  position: relative;
  margin-bottom: 8px;
}

.add-img-container .container .image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.add-img-container .container .image span {
  position: absolute;
  top: -2px;
  right: 9px;
  font-size: 20px;
  cursor: pointer;
}

.add-img-container input,
.add-img-container .drag-area .on-drop,
.add-img-container .drag-area.dragover .visible {
  display: none;
}

.add-img-container .container .image .btn-close {
  background-color: none;
  box-shadow: none !important;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  width: 5px;
  height: 5px;
  background-color: gray;
}