@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --clr-forestgreen: #364E38;
  --clr-pale_sage: #f3f8f1;
  --clr-celadon: #e0f3db;
  --clr-darkolivegreen: #6B9080;
  --clr-mintGreen: #CCE3DE;
  --clr-lightgreen: #A4C3B2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lora';
}

body {
  overflow-x: hidden;
}

.footer .svg-inline--fa {
  color: var(--clr-darkolivegreen) !important;
}

.footer .svg-inline--fa:hover {
  filter: brightness(1.2);
}