@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --clr-forestgreen: #364E38;
  --clr-honeydew: #F6FFF8;
  --clr-darkolivegreen: #6B9080;
  --clr-mintGreen: #CCE3DE;
  --clr-lightgreen: #A4C3B2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lora';
}

body {
  overflow-x: hidden;
}

.svg-inline--fa:not(.fa-user) {
  color: var(--clr-darkolivegreen) !important;
}

.svg-inline--fa:hover:not(.fa-user) {
  filter: brightness(1.2);
}